<%- include("includes/head.ejs", { cartLength: cartLength, active: "client"}) %>

<main class="container">
  <h1>Preguntas frecuentes</h1>
  <h2>¿Qué otros templating engines existen para node?</h2>

  <br />

  <h2>Explicación de Templates:</h2>

  <ol>
    <li>
      <h3>Pug (antes conocido como Jade):</h3>
      <p>
        Pug es un motor de plantillas para Node.js y para el navegador que
        simplifica la escritura de HTML mediante una sintaxis simplificada y más
        concisa. Utiliza sangrías en lugar de etiquetas de cierre y puntos y
        comas para indicar la estructura del documento.
      </p>
      <pre><code>html
    head
        title Mi Página
    body
        h1 Bienvenido
        p Este es un párrafo de ejemplo.
        </code></pre>
    </li>
    <li>
      <h3>Handlebars:</h3>
      <p>
        Handlebars es un motor de plantillas que permite la creación de
        plantillas HTML con expresiones insertadas. Utiliza dobles llaves
        <code>{{}}</code> para insertar valores y proporciona estructuras de
        control como <code>{{#if}}</code> y <code>{{#each}}</code
        >.
      </p>
      <pre><code>&lt;!-- Ejemplo de Handlebars --&gt;
    &lt;h1&gt;{{ titulo }}&lt;/h1&gt;
    {{#each lista}}
    &lt;p&gt;{{ this }}&lt;/p&gt;
    {{/each}}
        </code></pre>
    </li>
    <li>
      <h3>EJS (Embedded JavaScript):</h3>
      <p>
        EJS es un motor de plantillas que te permite generar HTML con
        JavaScript. Utiliza etiquetas de apertura y cierre
        <code>&lt;% %&gt;</code> para insertar código JavaScript en las
        plantillas.
      </p>
      <pre><code>&lt;!-- Ejemplo de EJS --&gt;
    &lt;h1&gt;&lt;%= titulo %&gt;&lt;/h1&gt;
    &lt;% for (let item of lista) { %&gt;
    &lt;p&gt;&lt;%= item %&gt;&lt;/p&gt;
    &lt;% } %&gt;
        </code></pre>
    </li>
  </ol>

  <h2>Cross-site Scripting (XSS):</h2>
  <p>
    Cross-site Scripting (XSS) es una vulnerabilidad de seguridad que permite a
    un atacante insertar scripts maliciosos (como JavaScript) en páginas web
    vistas por otros usuarios. Esto puede conducir a ataques como robo de
    cookies, redirección a sitios maliciosos, y más. Los ataques XSS suelen
    ocurrir cuando un sitio web no filtra adecuadamente los datos de entrada del
    usuario antes de mostrarlos en la página. Para prevenir ataques XSS, es
    importante validar y escapar los datos de entrada del usuario antes de
    mostrarlos en la página web.
  </p>

  <br />

  <h2>Referencias:</h2>
  <ul>
    <li><a href="https://pugjs.org/api/getting-started.html">PUG</a></li>
    <li><a href="https://handlebarsjs.com/">handlebars</a></li>
    <li><a href="https://ejs.co/">EJS</a></li>
    <li>
      <a href="https://owasp.org/www-community/attacks/xss/"
        >Cross-site Scripting (XSS)</a
      >
    </li>
  </ul>
</main>

<%- include("includes/foot.ejs") %>
