@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --main-blue: #008dda;
  --light-blue: #41c9e2;
  --very-light-blue: #ace2e1;
  --bone: #f7eedd;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  background-color: #008dda;
  border: none;
  border-radius: 1rem;
  color: var(--bone);
  cursor: pointer;
  transition: 0.1s all ease;
  padding: 1rem;
}

button:hover {
  background-color: var(--light-blue);
}

main {
  margin: auto;
  width: 80%;
}

nav,
footer {
  background: var(--main-blue);
  color: var(--bone);
}

section {
  display: grid;
  gap: 2rem;
}

article {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.5rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  text-align: left;
}

th {
  background-color: var(--light-blue);
}

h1,
h2 {
  margin-top: 1.5rem;
  text-align: center;
}

.nav-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 2rem;
  width: 80%;
}

.nav-items-horizontal,
.nav-items-vertical {
  display: flex;
  list-style: none;
  width: 50%;
}

.nav-items-horizontal {
  flex-wrap: wrap;
  justify-content: space-between;
}

.nav-items-vertical {
  flex-direction: column;
  justify-content: space-between;
}

.nav-item {
  color: var(--bone);
  text-decoration: none;
}

.personal-data {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.button-container {
  padding: 1rem;
  overflow-x: scroll;
}
