<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <title>forms</title>
  </head>
  <body>
    <main>
      <ul>
        <li><a href="/imc-calculator">IMC calculator</a></li>
        <li><a href="/list-media">List media</a></li>
        <li><a href="/new-file">New file</a></li>
        <li><a href="/">Atras</a></li>
      </ul>
    </main>
  </body>
</html>
