<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <title>IMC Calculator</title>
  </head>
  <body>
    <main>
        <form action="/calculate-imc" method="post">
            <label for="peso">Ingresa tu peso en kilogramos:</label>
            <input type="text" id="peso" name="peso">
            <br>
            <label for="altura">Ingresa tu altura en metros:</label>
            <input type="text" id="altura" name="altura">
            <br>
            <button type="submit">Calcular IMC</button>
          </form>
          <a href="/forms"> Atras <a>
    </main>
  </body>
</html>
