<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <title>List Media</title>
  </head>
  <body>
    <main>
      <form action="/calculate-media" method="post">
        <label for="list"
          >Ingresa una lista de numeros separados por comas:</label
        >
        <input type="text" id="list" name="list" />
        <br />
        <button type="submit">Calcular Promedio</button>
        <br />
        <a href="/forms"> Atras </a>
      </form>
    </main>
  </body>
</html>
