<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <title>questions</title>
  </head>
  <body>
    <main>
      <h1>¿Qué es package.json?</h1>
      <p>
        Sirve como un registro centralizado de información sobre el proyecto,
        incluyendo su nombre, versión, dependencias, scripts de ejecución,
        autor, licencia, y más
      </p>

      <h2>Gestión de dependencias</h2>
      <p>
        Lista todas las dependencias necesarias para que el proyecto funcione
        correctamente.
      </p>

      <h2>Versionamiento del proyecto</h2>
      <p>
        Incluye la versión actual del proyecto, permitiendo seguir un esquema de
        versionamiento semántico.
      </p>

      <h2>Scripts de ejecución</h2>
      <p>
        Permite definir scripts de shell que se pueden ejecutar usando el
        comando <code>npm run &lt;nombre_del_script&gt;</code>.
      </p>

      <h2>Metadatos del proyecto</h2>
      <p>
        Incluye información sobre el autor del proyecto, la licencia bajo la
        cual se distribuye el código, la URL del repositorio, y otros metadatos
        relevantes.
      </p>
      <a href="/resources">Atras</a>
    </main>
  </body>
</html>
