<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
    <title>references</title>
  </head>
  <body>
    <main>
      <ul>
        <li>
          <a href="https://docs.npmjs.com/cli/v6/configuring-npm/package-json"
            >package.json</a
          >
        </li>
        <li><a href="https://www.npmjs.com/package/nodemon">nodemon</a></li>
        <li><a href="https://expressjs.com/">expressjs</a></li>
        <li>
          <a href="https://www.npmjs.com/package/body-parser">body-parser</a>
        </li>
        <li><a href="/resources">Atras</a></li>
      </ul>
    </main>
  </body>
</html>
